{% extends "layout.html" %}

{% block title%}
Login
{% endblock %}

{% block body %}
<div class="col shadow rounded p-3 m-2">
    <h4>PyraSteps ...better tasking with science</h4>
    <p>
        PyraSteps is an app that allows you to assess and manage your
        personal tasks based on Maslow's Hierarchy of Needs.
    </p>
    <p>
        Each task you create must be assigned to one of the 5 levels of Maslow's pyramid.
        In addition to a meaningful title, you can also write down a detailed description
        or just notes about your task and evaluate the expected scope.
    </p>
    <p>
        PyraSteps then suggests an order for completing the tasks based on your entries and the assignment
        in Maslow's pyramid, with which you can probably achieve the greatest possible satisfaction
        in completing your challenges.
    </p>
    <p>
        If a task is particularly important to you, you can boost it, which will move it up a few places in the order.
        And if you ever lose interest in it, just unboost it again.
    </p>

</div>
<div class="col shadow rounded p-3 m-2">
    <h4>Maslow's Hierarchy of Needs</h4>
    <p>
        Maslow's Hierarchy of Needs is a theory proposed by American psychologist Abraham Maslow in 1943.
    </p>
    <p>
        This theory outlines a hierarchical model of human needs, depicting the progression of human motivation
        from basic physiological necessities to higher-order psychological desires. The pyramid consists of
        five levels, each representing a specific category of needs.
    </p>
    <p>
        According to Maslow's theory, individuals progress through these needs in a sequential manner,
        with each level acting as a prerequisite for the one above it. Maslow's Hierarchy of Needs remains a
        foundational concept in psychology and other fields, offering valuable insights into human
        motivation and behavior.
    </p>
</div>
{% endblock %}